html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title 식자재 재고관리
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(href="http://bootstrapk.com/examples/dashboard/dashboard.css", rel="stylesheet")
    style.
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f5f5f5;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: #337AB7;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {background-color: #F5F5F5}

        .dropdown:hover .dropdown-content {
            display: block;
        }
  body
    nav(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand", href="/main") 식자재 재고관리
        div(id="navbar", class="navbar-collapse collapse")
          ul(class="nav navbar-nav navbar-right")
            li
                a(href="/main") 재고량
            li
                a(href="/mypage") 마이페이지
            li
                a(href="/delete") 회원탈퇴
            li
                a(href="/logout") 로그아웃
          form(class="navbar-form navbar-right")
            input(type="text", class="form-control", placeholder="Search...")

    div(class="container-fluid")
        div(class="row")
            div(class="col-sm-3 col-md-2 sidebar")
                ul(class="nav nav-sidebar")
                    li(class="active")
                        a(href="/main") Overview 
                            span(class="sr-only") (current)
                    li
                        a(href="/send") 메일보내기
                    li  
                        a(href="/recieve") 받은메일 #{'    ('+no_read1+')'}
                    li
                        a(href="/stockeditor") 재고관리
                    li
                        a(href="/opencheck") 열람기록확인 #{'    ('+no_read+')'}
                    li(class="dropdown")
                        a(href="#", class="dropbtn") 신규추가
                        div(class="dropdown-content")
                            a(href="/newmenu") 메뉴추가
                            a(href="/newinven") 재고추가
                            a(href="/newrecipe") 레시피추가

            div(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
             -if(result[0]==undefined )
                 h2(class="sub-header") 재고를 입력해 주세요.
             -else{
                h2(class="sub-header") #{result[0].SHOP_NAME}
                div(class="table-responsive")
                    -var Today = new Date('05/10/2018')
                    -var test= new Array;
                    li Today : #{Today.getFullYear()+'.'+(Today.getMonth()+1)+'.'+Today.getDate()}
                    table(class="table table-striped" width="200", height="300", align="center", style="table-layout:fixed")
                        tr(align="center")
                            th
                                b 재료이름
                            th
                                b 유통기한
                            th
                                b 재고량
                            th
                                b 여분
                        -for(i in result){
                            -var count=0; 
                            -for(j in test) if(result[i].ING==test[j]) count++;
                            -if(count==0){
                            -test.push(result[i].ING);                                       
                            -var USE_DATE = result[i].RCV.getDate()+result[i].UBD;                                        
                            -result[i].RCV.setDate(USE_DATE);                                        
                            -var interval = result[i].NDD.getTime()-Today.getTime();                                        
                            -var intervalday = Math.floor(interval/86400000);
                            -var temp = result[i].DC*result[i].R_CON;
                            -for(j in result) if(result[i].ING==result[j].ING && result[i].R_MENU!=result[j].R_MENU) temp+=(result[j].DC*result[j].R_CON);
                            -var extra = result[i].INVENTORY-(temp*intervalday);
                            -if(extra<0) 
                                tr
                                    td #{result[i].ING}
                                    td #{result[i].RCV.getFullYear()+'-'+(result[i].RCV.getMonth()+1)+'-'+result[i].RCV.getDate()}
                                    td #{result[i].INVENTORY}
                                    input(type="hidden", name="mid", value='#{result[i].ING}')
                                    td
                                        a(href="/shortage?"+result[i].IGN, onclick="con.release(); return false;") 
                                            input(class="btn-link", type="submit",color="black",value = extra, style = "font-size:14px;")
                            -else 
                                tr
                                    td #{result[i].ING}
                                    td #{result[i].RCV.getFullYear()+'-'+(result[i].RCV.getMonth()+1)+'-'+result[i].RCV.getDate()}
                                    td #{result[i].INVENTORY}
                                    td #{extra}
                            -}
                        -}
             -}           
                script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
                script(src="http://bootstrapk.com/dist/js/bootstrap.min.js")
                script(src="http://bootstrapk.com/assets/js/vendor/holder.js")
                script(src="http://bootstrapk.com/assets/js/ie10-viewport-bug-workaround.js")